src/SSHTunnelManager/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/.vs/SSHTunnelManager/v14/.suo
src/SSHTunnelManager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
*.cache
src/SSHTunnelManagerGUI/obj/Release/TempPE/Properties.Resources.Designer.cs.dll